<%= render 'public/nav' %>
<div class="row">
  <div class="col text-center mt-5">
    <h4><strong>本当に退会しますか？</strong></h4>
    <p>退会すると、会員登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
    
    <%= link_to "退会しない", customers_my_page_path, class: "pull-right btn btn-primary d-grid gap-2 col-2 mr-4 "  %>
    
    <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "pull-right btn btn-danger d-grid gap-2 col-2 mx-auto" %>
  </div>
</div>

 