<%= render 'public/nav' %>

<main>
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-2 bg-light mt-5">
                    <h2>About</h2>
                </div>
            </div>
            
            <div class="mt-5">
                <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
                <p>お子さんからお年寄りの方までお召しいただけるよう、</br>
                様々なバリエーションをご用意しております。</p>
                <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
                <p>ぜひご注文ください。</p>
            </div>
        </div>
    </div>
</main>