<div>
  <h3>ジャンル検索</h3>
</div>

<table class="table table-bordered table-hover text-center ec-genre-list" >
  <tr>
    <td>
      <%= link_to "全商品を表示", items_path, class: "ec-genre-list-item" %>
    </td>
  </tr>

  <% genres.each do |genre| %>
    <tr>
      <td>
        <%= link_to genre.name %>
      </td>
    </tr>
  <% end %>
</table>