
  <% if flash[:notice] %>
  
   <div class="alert alert-success" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <p class="notice text-center alert-dismissible" style="color:green;"><%= flash[:notice] %></p>
   </div>
   
  <% end %>